@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}
@layer utilities{
  .btn{
    @apply rounded-none bg-indigo-950 text-white px-2  hover:bg-indigo-900
}
  .paginationBtn{
    @apply rounded-full bg-violet-950 text-slate-50 w-10 text-center h-10 p-2 hover:bg-indigo-900
}
  .title{
   @apply font-bold  text-slate-500
}
  .header{
   @apply text-center font-extrabold text-2xl p-2
}
}
